body{
    text-align:center;
}
.splash{
    width:100vw;
    height:100vh;
    border:1px solid;
    display:table-cell;
    vertical-align: middle;
}
.outside{
    width:38%;
    margin: auto;
    float:left;
    height:100%;
}
.inside{
    width:62%;
    background-color:orange;
    margin:auto;
    float:left;
}