body{
    text-align:center;
}
.splash{
    height: 100vh;
    border:1px solid;
    position: relative;
}
.outside{
    width:38%;
    margin: auto;
    float:left;
    height:100%;
}
.inside{
    width:62%;
    background-color:orange;
    margin:auto;
    float:left;
}