h3{
	margin:0;
}
table{
	width: 800px;
	height: 400px;
}
div.CSS{
	font-family: 'Lato', sans-serif;
	color:#333333;
	text-align: center;
}
div.entry{
	width: 800px;
	margin: auto;
	text-align:justify;
}
hr.entry{
	border-color:#E0E0E0;
}
p.date{
	margin:0 0 10 0;
	font-size:90%;
}
p.entry{
	margin:0;
}

ul.entry{
	margin:0;
}
#snorlax{
	width:400px;
}
#topleft{
	background-color: #f6e6bd;
	width:200px;
}
#topright{
	background-color: #e6c5ac;
	width:200px;
}
#botleft{
	background-color: #315a7b;
	width:200px;
}
#botright{
	background-color: #103941;
	width:200px;
}