body{
	margin:0;
}
h1{	
	position:fixed;
	z-index: 9;
	margin: auto;
	width:100%;
	background-color:#ffffff;
	margin: 0;
}
h3,h4{
	margin:0;
}
table{
	width: 800px;
	height: 400px;
}
div.CSS{
	font-family: 'Open Sans', sans-serif;
	color:#333333;
	text-align: center;
}
div.entry{
	width: 800px;
	margin: auto;
	text-align:justify;
}
div.footer{
	height:50px;
	width:100%;
}
div.twocolliquidentry{
	width: 62%;
	margin: auto;
	text-align:justify;
    float:left;
}
div.liquidentry{
	width: 50%;
	margin: auto;
	text-align:justify;
	min-width: 450px;
	max-width: 800px;
}
div.spacer{
	height:115px;
	width: 100%;
}
div.summary{
	width:38%;
	float:left;
	text-align:left;
}
hr.logo{
	border-color:#E0E0E0;
	margin:0;
}
hr.entry{
	border-color:#E0E0E0;
}
img.logo{
	height:100px;
	margin:  5px;
}
p.date{
	margin:0 0 10 0;
	font-size:90%;
}
p.entry{
	margin:0;
}

ul.entry{
	margin:0;
}
#snorlax{
	width:400px;
}
#topleft{
	background-color: #f6e6bd;
	width:200px;
	height:200px;
}
#topright{
	background-color: #e6c5ac;
	width:200px;
	height:200px;
}
#botleft{
	background-color: #315a7b;
	width:200px;
	height:200px;
}
#botright{
	background-color: #103941;
	width:200px;
	height:200px;
}